/* .clip{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, black,red);
    clip-path: circle(20% at center 50% );
    animation: flip 5s infinite alternate;
}

@keyframes flip {
    from {
        filter: hue-rotate(0);
    }

    to{
        filter: hue-rotate(360deg);
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%; 
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header  {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.header h1{
    padding: 20px 40px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 3em;
    /* filter: drop-shadow(16px 16px 20px #fff) invert(75%); */
}

.header h1::after{
    position: relative;
    content: 'ROCK PAPER SICSSERS';
    display: block;
    margin-top: -30px;
    transform: rotateX(180deg);
    opacity: .1;
    filter: blur(3px);
  
}

.floatingDivs {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
   
}

.floatingDivs > * {
    background-color: black ;  
    opacity: .3;
    position: absolute;
}

.one , .two , .three, .five , .six , .seven, .eight , .nine , .ten{
    border-radius: 5px;
    background:   rgba(0, 0, 0, .04); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3),
                -5px -5px 10px rgba(0, 0, 0, .3);
    animation: flip  ease-in-out infinite alternate;
}

.one {
    width: 200px;
    height: 200px;
    left: 400px;
    animation-duration: 30s;
}

.two{
    width: 200px;
    height: 200px;
    right: 400px;
    animation-duration: 25s;
}

.two img , .three img{
    transform: rotateY(180deg);
}

.three{
    width: 50px;
    height: 50px;
    right: 350px;
    animation-duration: 20s;
}


.five{
    width: 50px;
    height: 50px;
    left: 350px;
    animation-duration: 12s;
}

.six{
    width: 50px;
    height: 50px;
    left: 600px;
    animation-duration: 8s;
}

.seven{
    width: 50px;
    height: 50px;
    right: 600px;
    animation-duration: 5s;
}

.eight{
    width: 150px;
    height: 150px;
    right: 50%;
    transform: translate(-50%);
    animation-duration: 20s;
}

.nine{
    width: 50px;
    height: 50px;
    right: 20px;
    animation-duration: 15s;
}

.ten{
    width: 150px;
    height: 150px;
    left: 20px;
    animation-duration: 10s;
}


.float img {
    max-width: 100%;
    opacity: .3;
}

@keyframes flip {
    from {
        /* filter: hue-rotate(0); */
        transform: translateY(90px);
    }

    to{
        /* filter: hue-rotate(360deg); */
        transform: translateY(700px);
    }
} 

